<!DOCTYPE html>
<html lang="en">
  <head>    
    <title>Google Chat Bot</title>
    <meta name="description" content="A bot integrated with Google Chat">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Google Chat Bot
      </h1>
    </header>
    <main>
      <p>
        Chat bot that integrates with Google Chat.
      </p>
    </main>
    <footer>
    </footer>
  </body>
  <script>
    window.addEventListener("load", e => App.default.open(window), true)
  </script>
</html>

